ul.vGroup, ul.hGroup {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    white-space:nowrap;
}

ul.vGroup > li, ul.hGroup > li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:0;
    vertical-align:bottom;
}

ul.hGroup > li {
    display: inline-block;
    *display: inline;/*hack ie67*/
    _display: inline;/*hack ie67*/
    *zoom:1;/*hack ie67*/
    _zoom:1;/*hack ie67*/
}
