
.tree ul {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.tree ul li {
    margin: 0;
    padding: 0;
}

.tree li.treeNode {
    cursor: pointer;
}

.tree li.treeNode > div:hover {
    background-color: #FCEBA8;
}

.tree li.treeNode > div {
    padding-left :4px;
}

.tree .closed > ul {
    display: none;
}

.tree li.treeNode.closed > div .collapse:before {
    content: "\e158";
}

.tree li.treeNode.open > div .collapse:before {
    content: "\e159";
}

.tree li.treeNode.closed > div .folder:before {
    content: "\e117";
}

.tree li.treeNode.open > div .folder:before {
    content: "\e118";
}


.tree li.treeNode.check > div .selector:before {
    content: "\e067";
}
.tree li.treeNode.unCheck > div .selector:before {
    content: "\e157";
}
.tree li.treeNode.partial > div .selector:before {
    content: "\e165";
}

.tree li.treeNode .file:before {
    content: "\e022";
}

.tree li.treeNode.selected > div {
    background-color: #FCEBA8;;
}