<div class="form-item" ng-class="{'has-success':field.$dirty && !field.$invalid,'has-error':field.$invalid}">
    <input type = "text" class = "form-control" ng-class="{required:required}" placeholder = "{{placeholder}}" ng-model = "value" ng-required="required">
    <div ng-show="field.$invalid">
      <span ng-show="field.$error.integer" class="text-danger msg">only integer.</span>
      <span ng-show="field.$error.float" class="text-danger msg">only float.</span>
      <span ng-show="field.$error.required && !field.$error.float && !field.$error.integer" class="text-danger msg">is null.</span>
      <span ng-show="field.$error.min || field.$error.max" class="text-danger msg">The value must be in range {{min}} to {{max}}!.</span>
    </div>
    <span ng-show="value" class="text-info msg">{{value | number:fractionSize}}</span>
</div>