<!DOCTYPE html>
<html ng-app="ui">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <script type = "text/javascript" src = "../js/libs/require-2.1.14.min.js"></script>
  <script type = "text/javascript" src = "../js/libs/require.main.js"></script>
</head>
<body STYLE="padding: 16px;">
<tabs>
    <pane title="Hello">
        <h4>Hello</h4>
        <p>Lorem ipsum dolor sit amet</p>
    </pane>
    <pane title="World">
        <h4>World</h4>
        <em>Mauris elementum elementum enim at suscipit.</em>
        <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
        <button ng-dblclick="count = count + 1" ng-click="count = 0" ng-init="count=0">
            Increment (on double click)
        </button>
        count: {{count}}
    </pane>
</tabs>
<script>
    require(["app"],function(app){
        new app("ui");
    });
</script>
</body>
</html>